body {
  background: #0b1f2a;
  color: white;
  font-family: Arial;
  padding: 20px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: #00c9a7;
  font-weight: bold;
}

.card {
  background: #123;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
}
